/* ====================================
            GLOBAL COLORS
====================================*/
/* ====================================
                FONTS 
====================================*/
@font-face {
  font-family: "Blacksword";
  font-style: normal;
  font-weight: 400;
  src: local("Blacksword"), url("https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/df7684bd/public/fonts/Blacksword.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: "MinionPro";
  font-style: normal;
  font-weight: 400;
  src: local("MinionPro-Regular"), url("https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/MinionPro-Regular.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: "Gobold Reg";
  font-style: normal;
  font-weight: 400;
  src: local("Gobold Regular"), url("https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/Gobold%20Regular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: "Gobold Hol";
  font-style: normal;
  font-weight: 400;
  src: local("Gobold Hollow"), url("https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/Gobold%20Hollow.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* ====================================
              KEYFRAMES
====================================*/
@keyframes in-loc-nav {
  from {
    color: #34495e;
  }
  to {
    color: #00a8ff;
  }
}

@keyframes out-loc-nav {
  from {
    color: #00a8ff;
  }
  to {
    color: #34495e;
  }
}

@keyframes animateBottom {
  from {
    top: -300px;
  }
  to {
    top: 0;
    background-color: #fff;
  }
}

@keyframes fade-in {
  from {
    background-color: #00a8ff;
  }
  to {
    background-color: #33b9ff;
  }
}

@keyframes animateTop {
  from {
    background-color: #fff;
  }
  to {
    background: none;
  }
}

/* ====================================
               GLOBAL 
====================================*/
.container {
  width: 90%;
  margin: auto;
}

.bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

section .art-bg {
  position: absolute;
  top: 45%;
  text-align: center;
  width: 100%;
}

p {
  color: #4f6f8f;
}

/* ====================================
                HTML
====================================*/
body {
  margin: 0;
  padding: 0;
  font-family: "Minion Pro";
  font-size: 14px;
  color: #34495e;
  background-color: #fefefe;
}

h1, p {
  margin: 0;
  padding: 0;
}

/* ====================================
                BODY
             NAVIGATION 
====================================*/
.animate-scroll-bottom {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  animation: animateBottom 0.5s forwards;
}

.animate-scroll-top {
  animation: animateTop 0.5s;
}

header {
  text-transform: uppercase;
  font-family: "Roboto";
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

header .container h1 {
  float: left;
  color: #34495e;
  margin-top: 5px;
}

header .container h1 span {
  color: #cfd9db;
}

header .container nav {
  float: right;
}

header .container nav ul {
  text-decoration: none;
}

header .container nav ul li {
  display: inline-block;
  text-decoration: none;
}

header .container nav ul li a {
  text-decoration: none;
  color: #34495e;
  padding: 10px 15px;
}

header .container nav ul li .sign-in {
  background-color: #00a8ff;
  border-radius: 2px;
  color: #fff;
}

header .container nav ul li .sign-in:hover {
  animation: fade-in 0.3s forwards;
  color: #fff;
}

header .container nav ul li a:hover {
  color: #00a8ff;
}

/* ====================================
             HOME SECTION  
====================================*/
section#home .home-background {
  background-image: url("../../img/01.jpg");
  min-height: 100%;
  opacity: 0.8;
}

section#home .art-bg h1 {
  font-family: 'Blacksword';
  font-size: 70px;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 3px 5px 7px rgba(0, 0, 0, 0.8);
}

section#home .art-bg hr {
  width: 65%;
}

section#home .art-bg p {
  font-family: "Minion Pro";
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 2px 1px white;
}

/* ====================================
             ABOUT SECTION
====================================*/
section#about {
  padding: 10% 0;
  width: 80%;
}

section#about img {
  margin-right: 50px;
  height: 650px;
  float: left;
  opacity: 0.8;
}

section#about img:hover {
  opacity: 1;
}

section#about article.about h1 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 20px;
}

section#about article.about p {
  font-size: 18px;
  line-height: 1.5em;
}

section#menu {
  clear: both;
}

/* ====================================
             MENU SECTION
====================================*/
section#menu {
  position: relative;
}

section#menu .menu-background {
  background-image: url("../../img/04.jpg");
  height: 80%;
  opacity: 0.9;
}

section#menu .art-bg h1 {
  font-family: "Open Sans";
  font-size: 70px;
  color: #00a8ff;
}

section#menu .art-bg h1 span {
  color: #fff;
  border-bottom: 7px solid #fff;
}

/* ====================================
         MENU LANG TE SIEMPRE
====================================*/
section.container {
  padding: 10% 0;
  text-align: center;
}

section.container article.menu h1 {
  font-size: 38px;
}

section.container article.menu p {
  font-size: 22px;
}

section.container .box-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  /* ====================================================
             FOOOOOOOOOOD WADAFAK NUMA MAN BUYUNG BUNANI
        ====================================================*/
  /* ====================================================
                         END OF FOODSSSSS
        ====================================================*/
  /*============================================== 
                        BOX HOVER
        ==============================================*/
}

section.container .box-container .curry {
  background-image: url("../../img/menu/curry.jpg");
}

section.container .box-container .donburi {
  background-image: url("../../img/menu/donburi.jpg");
}

section.container .box-container .cakey {
  background-image: url("../../img/menu/japanesecake.jpg");
}

section.container .box-container .karaage {
  background-image: url("../../img/menu/karaage.jpg");
}

section.container .box-container .omurice {
  background-image: url("../../img/menu/omurice.jpg");
}

section.container .box-container .onigiri {
  background-image: url("../../img/menu/onigiri.jpg");
}

section.container .box-container .ramen {
  background-image: url("../../img/menu/ramen.jpg");
}

section.container .box-container .sushi {
  background-image: url("../../img/menu/sushi.jpg");
}

section.container .box-container .tempura {
  background-image: url("../../img/menu/tempura.jpg");
}

section.container .box-container .tonkatsu {
  background-image: url("../../img/menu/tonkatsu.jpg");
}

section.container .box-container .box {
  position: relative;
  height: 300px;
  width: 280px;
  height: 300px;
  margin: 5% 1% 1% 0;
  border: 2px solid #e9eeef;
  transition: border-color 0.5s ease;
}

section.container .box-container .frame {
  position: absolute;
  height: 100px;
  width: 100px;
  margin: auto;
  top: 60px;
  right: 0;
  left: 0;
  border: 5px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0 2px black;
  transition: top 0.3s ease;
  background-position-x: -40px;
  background-size: cover;
  background-repeat: no-repeat;
}

section.container .box-container article {
  font-family: "Open Sans";
  margin: auto;
  margin-top: 180px;
  width: 95%;
  transition: margin-top 0.3s ease;
}

section.container .box-container article p {
  margin-top: 15px;
  display: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

section.container .box-container .button-cart-container {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 90%;
  margin: auto;
  left: 0;
  bottom: 5;
  right: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

section.container .box-container .button-cart-container h1 {
  margin-top: 10px;
  float: left;
  color: #f06953;
}

section.container .box-container .button-cart-container button {
  float: right;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #2ecc71;
  transition: background-color 0.3s ease;
}

section.container .box-container .button-cart-container button:hover {
  cursor: pointer;
  background-color: #54d98c;
}

section.container .box-container .box:hover {
  border-color: #00a8ff;
}

section.container .box-container .box:hover .frame {
  top: -40px;
}

section.container .box-container .box:hover article {
  margin-top: 100px;
}

section.container .box-container .box:hover article p {
  display: visible;
  opacity: 1;
}

section.container .box-container .box:hover .button-cart-container {
  visibility: visible;
  opacity: 1;
}
