/* ====================================
            GLOBAL COLORS
====================================*/
$custom-white: #ecf0f1;
$flat-green: #2ecc71;
$dark-gray: #34495e;
$flat-blue: #00a8ff;
$flat-red: #f06953;




/* ====================================
                FONTS 
====================================*/
@mixin font-face($font-family,$custom-name, $source, $format){
    @font-face{
        font-family: $custom-name;
        font-style: normal;
        font-weight: 400;
        src:  local($font-family), url($source) format($format);
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }   
}

@include font-face('Blacksword','Blacksword', 'https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/df7684bd/public/fonts/Blacksword.otf','opentype');
@include font-face('MinionPro-Regular','MinionPro', 'https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/MinionPro-Regular.otf','opentype');
@include font-face('Gobold Regular','Gobold Reg', 'https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/Gobold%20Regular.ttf','truetype');
@include font-face('Gobold Hollow','Gobold Hol', 'https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/Gobold%20Hollow.ttf','truetype');
@include font-face('Roboto','roboto', 'https://cdn.rawgit.com/nerdcorez/nerdcorez.github.io/ddcffc06/public/fonts/Roboto-Regular.ttf','truetype');
@include font-face('Open Sans','Open Sans', 'https://cdn.rawgit.com/nerdcorez/nerdcorez.github.io/ddcffc06/public/fonts/OpenSans-Regular.ttf','truetype');


@mixin article(){
    h1{
        font-family: "Open Sans";
        letter-spacing: initial;
        text-shadow: none;
        color: $dark-gray;
        font-size: 3em;
    }
    p{
        font-family: "Roboto";
        letter-spacing: initial;
        text-transform: initial;
        margin-top: 20px;
        text-shadow: none;
        color: $dark-gray;
        font-size: 1.5em;
    }
    button{
        font-family: "Open Sans";
        background-color: transparent;
        border: 2px solid $flat-green;
        color: $flat-green;
        border-radius: 5px;
        margin-top: 35px;
        height: 40px;
        width: 120px; 
        .icon-left{
            margin-left: 10px;
            float: left;
        }
        .label-right{
            margin-right: 10px;
            float: right;
        }
    }
}


/* ====================================
              KEYFRAMES
====================================*/


@keyframes in-loc-nav{
    from{
        color: $dark-gray;
    }
    to{
        color: $flat-blue;
    }
}

@keyframes out-loc-nav{
    from{
        color: $flat-blue;
    }
    to{
        color: $dark-gray;
    }
}

@keyframes animateBottom{
    from{
        top: -300px;
    }

    to{
        top: 0;
        background-color: #fff;
    }
}

@keyframes animateBottomIn{
    from{
        top: -900px;
    }

    to{
        top: 0.4%;
    }
}

@keyframes animateToTop{
    from{
        top: 0;
        opacity: 1;
    }

    to{
        top: -900px;
        opacity: 0;
    }
}

@keyframes fade-in{
    from{
        background-color: $flat-blue;
    }
    to{
        background-color: lighten($flat-blue, 10%);
    }
}

@keyframes animateTop{
    from{
        background-color: #fff;
    }

    to{
        background: none;
    }
}

@keyframes come-out{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes come-in{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

@keyframes move-out{
    from{
        left: 1500;
    }

    to{
        left: 0
    }
}

@keyframes move-in{
    from{
        left: 0;
    }

    to{
        left: -2000;

    }
}

@keyframes article-left-in{
    from{
        left: -2000;
    }

    to{
        left: 20;
    }
}

@keyframes article-left-out{
    from{
        left: 30;
    }

    to{
        left: -2000;
    }
}

@keyframes article-right-in{
    from{
        right: -2000;
    }

    to{
        right: 30;
    }
}

@keyframes article-right-out{
    from{
        right: 30;
    }

    to{
        right: -2000;
    }
}

@keyframes article-main-in{
    from{
        right: -2000;
    }

    to{
        right: 0;
    }
}

@keyframes p-expand{
    from{
        // width: 40%;
    }

    to{
        width: 70%;
    }
}

@keyframes p-hide{
    from{
        width: 70%;
    }

    to{
        width: 40%;
    }
}

@keyframes right-side{
    from{
        from: 85%;
    }
    
    to{
        width: 50%;
    }
}

@keyframes right-side-hide{
    from{
        width: 50%;
    }
    
    to{
        width: 85%;
    }
}

/* ====================================
           AGULAR ANIMATION
====================================*/

#s-in.ng-hide-remove,
#food-order.ng-hide-remove{
    animation: 0.6s animateBottomIn ease-out;
}

#s-in.ng-hide-add,
#food-order.ng-hide-add{
    animation: 0.6s animateToTop ease-out;
}

.inner.ng-hide-remove{
    animation: 0.6s come-out ease;
}

.inner.ng-hide-add{
    animation: 0.6s come-in ease;
}

.home-background.ng-hide-remove{
    animation: 1s move-out ease;
}

.home-background.ng-hide-add{
    animation: 1s move-in ease;
}

.art-bg.ng-hide-add{
    animation: 1s article-right-out ease;    
}

.art-bg.ng-hide-remove{
    animation: 2s article-right-in ease;
}

.art-bg.temp.ng-hide-add{
    animation: 1s article-left-out ease;    
}

.art-bg.temp.ng-hide-remove{
    animation: 2s article-left-in ease;
}

.art-bg.main-bg.ng-hide-remove{
    animation: 2s article-main-in ease;
}
/* ====================================
               GLOBAL 
====================================*/
.container{
    width: 90%;
    margin: auto;
}

.bg{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

hr{
    margin: 0 auto;
}

section{
    .art-bg{
        position: absolute;
        text-align: center;
        width: 100%;
        top: 45%; 
    }
}

p{
    color: lighten($dark-gray,15%);
}

.top-action{
    position: absolute;
    width: 91%;
    top: 15;
}
.exit{
    background-image: url('../../img/error.png');
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    height: 20px;
    opacity: 0.4;
    width: 20px;
}
.exit:hover{
    cursor: pointer;
    opacity: 0.8;
}
.back{
    @extend .exit;
    background-image: url('../../img/back.png');
    float: left;
    opacity: 1;
}
.back:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* ====================================
            SIGN IN FORM
====================================*/

.s-in{
    box-shadow: 5px 5px 9px rgba(0,0,0,0.3);
    background-color: #fff;
    font-family: "Open Sans";
    border-radius: 5px;
    left:0; right: 0;
    margin: 3% auto;
    position: fixed;
    height: 88%;
    width: 40%;
    z-index: 2;
    /*==============================================
                        lOGIN FORM
    ==============================================*/
    .c-in{
        background-image: url('../../img/05.jpg');
        background-size: auto auto;
        background-position-x: 52%;
        border-radius: 5px;
        padding: 65px 2%;
        font-size: 1em;
        margin: 0 auto;
        height: 100%;
        width: 100%;
         /*==============================================
                        PREVIEW ORDER
        ==============================================*/
        .s-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .p-order{
            font-family: "Open Sans";
            visibility: hidden;
            padding: 0 20px;
            display: none;
            .bg-order{
                position: relative;
                .bgg{
                    float: left;
                    background-color: white;    
                    width: 100%;
                    opacity: 0.5;
                    height: 40px;
                    border-radius: 5px;
                    padding: 5px 25px;
                }
                h2{
                    text-transform: uppercase;
                    position: absolute;
                    padding-top: 2px;
                    color: $flat-red;
                    width: 100%;
                    z-index: 4;
                    margin: 0;
                }
            }
            ul{
                list-style: none;
                clear: both;
                width: 90%;
                li.header{
                    color: $dark-gray;
                    font-size: 18px;
                    margin-bottom: 20px;
                    .qty{
                        float: left;
                    }
                    .item{
                        margin-left: 30px; 
                        float: left;
                    }
                    .price{
                        float: right;
                    }
                }
                li.items{
                    color: #f5f6f9;
                    font-size: 16px;
                    margin-bottom: 10px; 
                    .qty{
                        margin-left: 15px;
                        float: left;
                    }
                    .item-name{
                        margin-left: 40px;                         
                        float: left;
                    }
                    .price{
                        float: right;
                    }
                }
                li.boom{
                    color: white;
                    font-size: 18px;
                    margin-top: 20px;
                    .total{
                        color: $dark-gray;
                        float: left;
                    }
                    .total-price{
                        color: $flat-red;
                        float: right;
                    }
                }
            }
        }
        .right-side{
            display: inline-block;
            margin: 0;
            width: 85%;                
            .login-form{
                .alert{
                    text-align: left;
                    opacity: 0.7;
                    width: 77%;
                }
                .glyphicon-ok,
                .glyphicon-ok-circle{
                    color: $flat-green;
                }
                span{
                    color: red;
                }
                h4{
                    margin-top: 15px;
                    color: $custom-white;
                }
                input[type="text"],
                input[type="password"]{
                        box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
                        border: 1px solid darken($custom-white,20%);
                        background-color: transparent;
                        transition: all ease 0.2s;
                        border-radius: 4px;
                        margin: 0 0 20px 0;
                        text-align: center;
                        padding: 5px 5px;
                        color: #fff;
                        height: 40px;
                        width: 77%;
                }
                input[type="text"]:focus, 
                input[type="password"]:focus{
                    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
                    background-color:rgba(255,255,255,0.3);
                    margin-top: -5px;
                    outline: none;
                    color: #000;
                }
                .btn-container{
                    margin-top: 30px;
                    input[type="button"],
                    input[type='submit']{
                        background-color: transparent;
                        border-radius: 4px;
                        height: 55px;
                    }
                    input[type="button"]:hover,
                    input[type='submit']:hover{
                        cursor: pointer;
                        color: white;
                    }
                    .in,.up{
                        min-width: 35%;
                    }
                    .in{
                        border: 3px solid $flat-green;
                        margin-right: 15px;
                        color: $flat-green;
                    }
                    .up{
                        border: 3px solid $flat-red;
                        margin-left: 15px;
                        color: $flat-red;
                    }
                    .guest{
                        border: 3px solid #e67e22;
                        margin-top: 30px;
                        color: #e67e22;
                        width: 76%;
                    }
                    .in:hover{
                        background-color: $flat-green;
                    }
                    .up:hover{
                        background-color: $flat-red;
                    }
                    .guest:hover{
                        background-color: #e67e22;
                    }
                }
            }

            /*==============================================
                            REGISTER FORM
            ==============================================*/
            .register-form{
                position: relative;
                width: 95%;
                input, select, textarea{
                    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
                    border: 1px solid darken($custom-white,20%);
                    background-color: transparent;
                    transition: all ease 0.2s;
                    border-radius: 4px;
                    margin: 0 0 20px 0;
                    padding: 5px 5px;
                    color: #fff;
                    width: 100%;
                    option{
                        color: #000;
                    }
                }
                input[type="text"]:not(focus){
                    text-transform: capitalize;
                }
                input[name="username"]:not(focus){
                    text-transform: lowercase;
                }
                input[name="email"]:not(focus){
                    text-transform: lowercase;
                }
                input:focus, select:focus, textarea:focus{
                    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
                    background-color:rgba(255,255,255,0.3);
                    margin-top: -5px;
                    color: #000;
                    outline: none;
                }
                h5{
                    color: $custom-white;
                    margin: 0 0 5px 0;  
                }
                .col-span-2{
                    width: inherit;
                    height: 75px;
                }
                .col-2{
                    float: left;
                    width: 48%;
                }                
                .col-2:last-child{
                    float: right;
                }
                .col-span-3{
                    width: inherit;
                    height: 78px;
                }
                .col-3{
                    float: left;
                    width: 28%;
                }
                .col-3:nth-child(2){
                    width: 24%;
                    margin-left: 10%;
                }
                .col-3:last-child{
                    float: right;
                }
                .btn{
                    float: right;
                }
                .btn-success{
                    margin-left: 10px;
                }
                .reg-nav{
                    hr{
                        margin-bottom: 15px;
                    }
                    .c-nav{
                        position: absolute;
                        width: 100%;
                        top: -23;
                        button{
                            background-color: lighten($custom-white,10%);
                            border: 1px solid #fff;
                            border-radius: 100%;
                            color: $flat-blue;
                            margin: 0 auto;
                            height: 28px;
                            width: 28px;
                        }
                        button:focus{
                            outline: none;
                        }
                        button.invi{
                            visibility: hidden;
                            margin: 0 40px;
                        }
                        .nav-1{
                            border-color: #2ecc71;
                            color: $flat-green;
                        }
                    }
                    h6.invi{
                        visibility: hidden;
                        margin: 0 5px;
                    }
                    span{
                        text-align: left;
                    }
                    .l-nav{
                        h6{
                            display: inline;
                            color: #fff;
                        }
                    }
                }
                .person-form{
                    margin-top: 20px;
                    text-align: left;
                }
                .bill-form{
                    @extend .person-form;
                }
                .payment-form{
                    @extend .person-form;
                    h5.invi{
                        visibility: hidden;
                    }
                    .save-info{
                        background-color: $flat-green;
                        box-shadow: none;
                        border: none;
                        float: right;
                        width: 140px;
                    }
                    .save-info:hover{
                        background-color: lighten($flat-green,5%);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


/* ====================================
              ORDER FORM
====================================*/

#food-order{
    box-shadow: 3px 5px 5px rgba(0,0,0,0.6);
    background-color: #fafafa;
    left: 0; right: 0; top: 5%;
    padding: 30px 0 20px 0;
    font-family: "roboto";
    border-radius: 5px;
    position: fixed;
    min-height: 75%;
    margin: auto;
    width: 50%;
    z-index: 2;
    .top-action{
        width: 97%;
    }
    .frame{
        box-shadow: 0 0 3px rgba(0,0,0,1);
        background-repeat: no-repeat;
        border: 5px solid #fff;
        background-size: cover;
        border-radius: 100%;
        height: 130px;
        margin: auto;
        width: 130px;
        overflow: hidden;
    }
    .foody{
        background: url('../../img/upload.png') no-repeat center;
        background-size: contain;
        position: relative;
    }
    .foody:hover{
        .img-upload{
            background-color: black;
            cursor: pointer;
            opacity: 0.1;
            height: 100%;
            width: 100%;
        }
    }
    h1,h2,h3{
        text-align: center;
        margin:0;
    }
    h1{
        font-size: 2em;
    }
    .food-name.form-control{
        width: 50%;
    }
    .food-desc.form-control{
        width: 50%;
    }
    .food-price.form-control{
        text-align: center;
        width: 20%;
    }
    .special{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    button{
        color: #fff;
    }
    .add-to-cart{
        background-color: $flat-green;
        border-radius: 4px;
        border: none;
        height: 35px;
        width: 90px;
    }
    .btn.hover-add{
        background-color: $flat-green;
        color: $custom-white;
    }
    textarea{
        margin-bottom: 20px;
    }
    .width{
        width: 60%;
    }
    .minus,.plus,{
        background-color: $flat-green;
        border-radius: 100%;
        height: 25px;
        border: none;
        width: 25px;
    }
    .minus{
        background-color: $flat-red;
    }
    .minus:hover{
        background-color: lighten($flat-red, 10%);
    }
    .add-to-cart:hover,
    .btn.hover-add:hover{
        cursor: pointer;
        background-color: lighten($flat-green,10%);
    }
    button:active{
        outline: none;
    }
    .container-qty{
        button, h3{
            display: inline;
            margin: 10px;
        }
        h2{ 
            font-size: 1.5em;
            color: $flat-red;
            margin: 20px 0;
        }
        h3{
            font-size: 1.17em;
        }
    }
    .qty-label{
        margin-top: 10px;
    }
    .qty{
        text-align: center;
        margin-top: 0;
    }
    .food-name{
        text-align: center;
        margin-top: 20px;
    }
}


/* ====================================
                HTML
====================================*/
body{
    font-family: "Minion Pro";
    background-color: #fff;
    color: $dark-gray;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* ====================================
                BODY
             NAVIGATION 
====================================*/

.animate-scroll-bottom{
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    animation: animateBottom 0.5s forwards;
    
}

.animate-scroll-top{
    animation: animateTop 0.5s;
}

header{
    text-transform: uppercase;
    font-family: "roboto";
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 2;
    .container{
        .logo{
            background-image: url('../../img/logo.png');
            background-repeat: no-repeat;
            background-position-y: -19px;
            background-size: cover;
            display: inline-block;
            height: 65px;
            width: 315px;
        }
        h1{
            color: $dark-gray;
            margin-top: 5px;
            float: left;
            span{
                color: darken($custom-white,10%);
            }
        }
        nav{
            font-size: 1.2em;
            float: right;
            .basta-waitlang{
                margin-top: 16.5px;
                text-decoration: none;
                li{
                    text-decoration: none;                    
                    display: inline-block;
                    position: relative;
                    a{
                        text-decoration: none;
                        padding: 10px 15px;
                        color: $dark-gray;
                    }
                    a:active{
                        outline: none;
                    }
                    .greetings{
                        margin-right: 10px;
                        font-size: 0.80em;
                    }
                    .user{
                        color: darken($flat-blue, 20%);
                        text-transform: capitalize;
                        margin-left: 15px; 
                        font-size: 1.2em;
                    }
                    .o-user{
                        width: 300px;
                    }
                    .sign-in{
                        background-color: $flat-blue;
                        border-radius: 4px;
                        color: #fff;
                    }
                    .sign-in:hover{
                        animation: fade-in 0.3s forwards;                      
                        color: #fff;
                    }
                    // ANIMATION COLOR FADE IN IN SIGN IN
                }
            }
        }
    }
}


/* ====================================
             HOME SECTION  
====================================*/
section#home{
    // background-color: #000; 
    position: relative;
    overflow: hidden;
    min-height: 100%;
    .home-background{
        position: absolute;
        object-fit: cover;
        opacity: 0.95;
        height: 100%;
        width: 100%;
        top: 0;
    }
    .nav-container{
        margin: 0 auto;
        width: 50%;
        position: absolute;
        bottom: 0; left: 0; right: 0;
        height: 50px;
        .circle{
            border: 2px solid #f6f6f6;
            display: inline-block;
            border-radius: 100%;
            position: relative;
            margin: 0 10px;
            height: 20px;
            width: 20px;
            .inner{
                background-color: #f6f6f6;
                display: inline-block;
                border-radius: 100%;
                position: absolute;
                right: 2; top: 2;
                height: 12px;
                width: 12px;
            }
        }
        .circle:hover{
            cursor: pointer;
        }
    }
    .art-bg{  
        h1{
            text-shadow: 3px 5px 7px rgba(0,0,0,0.8);
            font-family: 'Blacksword';
            letter-spacing: 5px;
            font-size: 70px;
            color: #fff;
        }
        hr{
            width: 65%;
        }
        p{
            text-shadow: 2px 2px 1px rgba(255,255,255,1);
            font-family: "Minion Pro";
            text-transform: uppercase;
            color: darken($dark-gray, 5%);
            letter-spacing: 10px;
            font-size: 24px;
        }
    }
    .temp{
        @include article();
        text-align: left;
        left: 30; top: 170;
    }
    .pud{
        @include article();
        text-align: right;
        right: 30; top: 240;
    }
    .ton{
        @include article();
        text-align: right;
        right: 30; top: 180;
    }
}


/* ====================================
             ABOUT SECTION
====================================*/

section#about{
    padding-top: 10%;
    width: 80%;
    .something{
        display: inline-block;
        height: 650px;
        width: 433px;
        float: left;
        margin-right: 50px;
        img{
            height: 100%;
            opacity: 0.8;
        }
    }
        img:hover{
        opacity: 1;
    }
    article.about{
        font-family: "Minion Pro";
        h1{
            margin-bottom: 20px;
            text-align: center; 
            font-size: 38px;
        }
        p{
            line-height: 1.5em;
            font-size: 18px;
        }
    }
}

section#menu{
    background-color: black;
    clear: both;
}

/* ====================================
             MENU SECTION
====================================*/

section#menu{
    position: relative;
    margin-top: 10%;
    .menu-background{
        background-image: url('../../img/04.jpg');
        opacity: 0.9;
        height: 80%;
        transition: opacity 0.3s ease;
    }
    .menu-form:hover{
        background: url('../../img/addbtn.png') center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 10;
        .menu-background, .art-bg{
            opacity: 0.5;
        }
    }

    .art-bg{
        h1{
            font-family: "Open Sans";
            color: $flat-blue;
            font-size: 70px;
            // letter-spacing: 5px;
            span{
                border-bottom: 7px solid #fff;
                color: #fff;
            }
        }
    }
}


/* ====================================
         MENU LANG TE SIEMPRE
====================================*/


section.container{
    text-align: center;
    padding: 10% 0;
    article.menu-sub-title{
        font-family: "Minion Pro";
        h1.menu-title{
            font-family: "Minion Pro";        
            font-size: 38px;
        }
        p.menu-sub{
            font-size: 22px;
        }
        hr{
            width: 35%;
        }
    }
    .box-container{
        justify-content: space-around;
        font-family: "Open Sans";
        align-items: center;
        margin-top: 30px;
        flex-wrap: wrap;
        display: flex;
        /* ====================================================
             FOOOOOOOOOOD WADAFAK NUMA MAN BUYUNG BUNANI
        ====================================================*/
        .addbtn{
            background-image: url('../../img/addbtnblack.png');
            background-color: white;
        }
        // .curry{
        //     background-image: url('../../img/menu/curry.jpg');
        //     background-position-x: -10px;
        // }
        // .donburi{
        //     background-image: url('../../img/menu/donburi.jpg');
        //     background-position-x: -30px;
        // }
        // .cakey{
        //     background-image: url('../../img/menu/japanesecake.jpg');
        //     background-position-x: -10px;
        // }
        // .karaage{
        //     background-image: url('../../img/menu/karaage.jpg');
        // }
        // .omurice{
        //     background-image: url('../../img/menu/omurice.jpg');
        //     background-position-x: -30px;
        // }
        // .onigiri{
        //     background-image: url('../../img/menu/onigiri.jpg');
        // }
        // .ramen{
        //     background-image: url('../../img/menu/ramen.jpg');
        //     background-position-x: -15px;
        // }
        // .pudding{
        //     background-image: url('../../img/menu/pudding.jpg');
        //     background-position-x: -35px;
        // }
        // .tempura{
        //     background-image: url('../../img/menu/tempura.jpg');
        //     background-position-x: -50px;
        // }
        // .tonkatsu{
        //     background-image: url('../../img/menu/tonkatsu.jpg');
        //     background-position-x: -33px;
        // }

        // DRINKS

        // .lipton{
        //     background-image: url('../../img/menu/lipton.jpg');
        //     background-position-x: -50px;
        // }
        // .iced{
        //     background-image: url('../../img/menu/iced.jpg');
        //     background-position-x: -33px;
        // }
        /* ====================================================
                         END OF FOODSSSSS
        ====================================================*/
        .box{
            transition: border-color 0.5s ease;
            border: 2px solid #e4e4e4;
            position: relative;
            margin: 5% 1% 1% 0;
            height: 300px;
            width: 280px;
            .frame{
                box-shadow: 0 0 2px rgba(0,0,0,1);
                background-repeat: no-repeat;
                background-color: white;
                transition: top 0.3s ease;
                border: 5px solid #fff;
                background-size: cover;
                border-radius: 100%;
                position: absolute;
                right: 0; left: 0;
                height: 100px;
                margin: auto;
                width: 100px;
                top: 60px;
                .glyphicon-plus{
                    display: inline-block;
                    margin-top: 13px;
                    margin-left: 5px;
                    color: $flat-green;
                    font-size: 60px;
                }
            }
        }
        article{
            transition: margin-top 0.3s ease;
            font-family: "roboto";
            margin: 180px auto 0 auto;
            width: 90%;
            h1{
                font-size: 1.5em;
            }
            p{
                transition: visibility 0s, opacity 0.3s ease;
                margin-top: 15px;
                display: hidden;
                opacity: 0;
            }
        }
        .button-cart-container{
            transition: visibility 0s, opacity 0.3s ease;
            left: 0; bottom: 5; right: 0;
            visibility: hidden;
            position: absolute;
            margin: auto;
            opacity: 0;
            width: 90%;
            h1{
                color: $flat-red;
                margin-top: 10px;
                font-size: 2em;
                float: left;
            }
            .delete-menu{
                display: none;
            }
            .display-button{
                display: initial;
            }
            .btn-success{
                background-color: $flat-green;
                border-color: white;
            }
            .btn-success:hover{
                background-color: lighten($flat-green, 10%);
            }
        }

        button{
            float: right;
            margin-top: 5px;
        }
        button.add-to-cart{
            transition: background-color 0.3s ease;
            background-color: $flat-green;
            margin-right: 5px;
            border-radius: 4px;
            color: #fff;
            border: none;
            height: 34px;
            width: 80px;
        }
        button.add-to-cart:hover{
            background-color: lighten($flat-green, 10%);
            cursor: pointer;
        }

        /*============================================== 
                        BOX HOVER
        ==============================================*/
        .box:hover{
            border-color: $flat-blue;
            .frame{
                border-color: darken($flat-blue, 3%);
                border-width: 2px;
                top: -40px;
            }
            article{
                margin-top: 100px;
                p{
                    display: visible;
                    opacity: 1;
                }
            }
            .button-cart-container{
                visibility: visible;
                opacity: 1;
            }
        }
        .box.add-menu:hover{
            border-color: $flat-green;
            .frame{
                border-color: darken($flat-green, 3%);
                border-width: 2px;
                top: -40px;
            }
        }
    }   
}

/* ====================================
            ORDER SECTION 
====================================*/

section#order{
    position: relative;
    background-color: #000;
    .order-background{
        background-image: url('../../img/reservation-seat.jpg');
        opacity: 0.9;
        height: 80%;
    }
    .menu-form:hover{
        background: url('../../img/addbtn.png') center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 10;
        .order-background, article{
            opacity: 0.5;
        }
    }
    article{
        top: 35%; right: 0; left: 0;
        text-align: center;
        position: absolute;
        margin: auto;
        h1{
            font-family: "Open Sans";
            color: $flat-blue;
            font-size: 70px;
            // letter-spacing: 5px;
            span{
                color: #fff;
                border-bottom: 7px solid #fff;
            }
        }
    }
}

/* ====================================
       ORDER LANG TE SIEMPRE LOKO! 
====================================*/

section.order{
    padding-bottom: 30%;
    .order-location{
        float: left;
        width: 50%;
        div#sample{
            font-family: "Open Sans";            
            margin-bottom: 20px;
            margin-left: 42px;
            text-align: left;
            width: 500px;
            h1,p{
                transition: opacity 0.3s ease;
                display: none;
                opacity: 0;
            }
            h1{
                text-transform: uppercase;
                color: $dark-gray;
                font-size: 24px;
            }
        }
        .form-container{
            transition: opacity 0.3s ease;
            display: none;
            width: 100%;
            opacity: 0;
            input{
                padding-left: 15px;
                margin-left: 20px;
                margin-top: 10px;
                height: 50px;
                width: 260px;
            }
        }
        .button-container{
            button{
                text-transform: uppercase;
                background: transparent;
                border-radius: 4px;
                color: #fff;
                width: 150px;
                height: 55px;
            }
            .in,.up{
                margin-right: 20px;
            }
            .in{
                border: 3px solid $flat-blue;
                color: $flat-blue;
            }
            .up{
                border: 3px solid $flat-red;
                color: $flat-red;
            }
            .guest{
                border: 3px solid #e67e22;
                margin-top: 30px;
                color: #e67e22;
            }
            button:hover{
                cursor: pointer;
                color: white
            }
            .in:hover{
                background-color: $flat-blue;
            }
            .up:hover{
                background-color: $flat-red;
            }
            .guest:hover{
                background-color: #e67e22;
            }
            
        }
    }
    /* ====================================
                   CART 
    ====================================*/
    
    .cart{
        color: lighten($dark-gray,20%);
        font-family: "Open Sans";
        list-style-type: none;
        font-size: 22px;
        margin: 0 auto;
        width: 80%;
        .row{
            padding-top: 18px;
            height: 70px;
            content: "";
            clear: both;
        }
        .header{
            padding-bottom: 20px;
            font-size: 18px;
            .qty{
                margin-left: 35px;
                float: left;
            }   
            .item{
                margin-left: 50px;
                float: left;
            }
            .price{
                margin-right: 100px;
                float: right;
            }
        }
        .items{
            box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
            background-color: #f5f6f9;
            border-radius: 2px;
            position: relative;
            margin: 10px 0;
            .qty{
                color: darken($flat-blue, 5%);
                margin-left: 45px;
                float: left;
            }
            .item-name{
                margin-left: 60px;
                float: left;
            }
            .action{
                background-image: url('../../img/60995.png');
                position: absolute; top: 0; right: 0;
                background-repeat: no-repeat;
                background-position-y: 20px;
                background-position-x: 17px;
                background-color: #e6edf3;
                background-size: 20px 20px;
                height: inherit;
                width: 55px;
            }
            .price{
                margin-right: 45px;
                color: $flat-red;
                float: right;                
            }
            .price:hover{
                text-decoration: none;
                color: $flat-red;
            }
            .action-item{
                background-image: url('../../img/actionContainer.png');
                background-repeat: no-repeat;
                background-position-y: -17px;
                background-position-x: 17px;
                background-size: contain;
                padding: 33px 15px 0 0;
                top: 40; right: -55;
                position: absolute;
                height: 100px;
                width: 150px; 
                z-index: 1;
                .glyphicon-remove{
                    margin-left: 15px;
                    color: $flat-red;
                }
                .glyphicon-remove:hover{
                    color: darken($flat-red,10%);
                }
            }
        }
        .footer{
            margin: 60px 0;
            .total{
                margin-left: 30px;
                float: left;
            }
            .total-price{
                margin-left: 10px;
                color: $flat-red;
                float: left;
            }
            .order-button{
                background-color: $flat-red;
                text-decoration: none;
                color: $custom-white;
                border-radius: 4px;
                margin-top: -15px;
                height: inherit;
                border: none;
                float: right;
                width: 120px;
            }
            .order-button:hover{
                background-color: lighten($flat-red,5%);
                cursor: pointer;
            }
        }
        hr{
            margin-top: 60px;
            content: "";
            clear: both;
            width: 95%;
        }
    }
    
}

/* ====================================
        FOOTER SECTION MUDA FUKA
====================================*/

footer{
    background-color: $dark-gray;
    color: $custom-white;
    text-align: center;
    padding-top: 3%;
    min-height: 15%;
    clear: both;
}


