/* ====================================
            GLOBAL COLORS
====================================*/
$flat-blue: #00a8ff;
$dark-gray: #34495e;
$custom-white: #ecf0f1;
$flat-red: #f06953;
$flat-green: #2ecc71;




/* ====================================
                FONTS 
====================================*/
@mixin font-face($font-family,$custom-name, $source, $format){
    @font-face{
        font-family: $custom-name;
        font-style: normal;
        font-weight: 400;
        src:  local($font-family), url($source) format($format);
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }
}

@include font-face('Blacksword','Blacksword', 'https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/df7684bd/public/fonts/Blacksword.otf','opentype');
@include font-face('MinionPro-Regular','MinionPro', 'https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/MinionPro-Regular.otf','opentype');
@include font-face('Gobold Regular','Gobold Reg', 'https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/Gobold%20Regular.ttf','truetype');
@include font-face('Gobold Hollow','Gobold Hol', 'https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/Gobold%20Hollow.ttf','truetype');



/* ====================================
              KEYFRAMES
====================================*/


@keyframes in-loc-nav{
    from{
        color: $dark-gray;
    }
    to{
        color: $flat-blue;
    }
}

@keyframes out-loc-nav{
    from{
        color: $flat-blue;
    }
    to{
        color: $dark-gray;
    }
}

@keyframes animateBottom{
    from{
        top: -300px;
    }

    to{
        top: 0;
        background-color: #fff;
    }
}

@keyframes animateBottomIn{
    from{
        top: -900px;
    }

    to{
        top: 0.4%;
    }
}

@keyframes animateToTop{
    from{
        top: 0;
        opacity: 1;
    }

    to{
        top: -900px;
        opacity: 0;
    }
}

@keyframes fade-in{
        from{
            background-color: $flat-blue;
        }
        to{
            background-color: lighten($flat-blue, 10%);
        }
}

@keyframes animateTop{
    from{
        background-color: #fff;
    }

    to{
        background: none;
    }
}

@keyframes come-out{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/* ====================================
           AGULAR ANIMATION
====================================*/

#s-in.ng-hide-remove,
#food-order.ng-hide-remove{
    animation: 0.6s animateBottomIn ease-out;
}

#s-in.ng-hide-add,
#food-order.ng-hide-add{
    animation: 0.6s animateToTop ease-out;
}


/* ====================================
               GLOBAL 
====================================*/
.container{
    width: 90%;
    margin: auto;
}

.bg{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

hr{
    margin: 0 auto;
}

section{
    .art-bg{
        position: absolute;
        top: 45%; 
        text-align: center;
        width: 100%;
    }
}

p{
    color: lighten($dark-gray,15%);
}

.top-action{
    position: absolute;
    width: 91%;
    top: 15;
}
.exit{
    background-image: url('../../img/error.png');
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    height: 20px;
    opacity: 0.4;
    width: 20px;
}
.exit:hover{
    cursor: pointer;
    opacity: 0.8;
}
.back{
    @extend .exit;
    background-image: url('../../img/back.png');
    float: left;
    opacity: 1;
}
.back:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* ====================================
            SIGN IN FORM
====================================*/

.s-in{
    box-shadow: 5px 5px 9px rgba(0,0,0,0.3);
    background-color: #fff;
    font-family: "Open Sans";
    border-radius: 5px;
    left:0; right: 0;
    margin: 3% auto;
    position: fixed;
    height: 88%;
    z-index: 2;
    width: 40%;
    .c-in{

        /*==============================================
                         lOGIN FORM
          ==============================================*/

        background-image: url('../../img/05.jpg');
        background-size: auto auto;
        background-position-x: 52%;
        border-radius: 5px;
        font-size: 1em;
        height: 100%;
        width: 100%;
        padding: 10% 5%;
        margin: auto;
        .login-form{
            span{
                color: red;
            }
            h4{
                margin-top: 15px;
                color: $custom-white;
            }
            input[type="text"],
            input[type="password"]{
                    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
                    border: 1px solid darken($custom-white,20%);
                    background-color: transparent;
                    transition: all ease 0.2s;
                    border-radius: 4px;
                    text-align: center;
                    padding: 5px 5px;
                    color: #fff;
                    width: 70%;
                    height: 40px;
                    margin: 0 0 20px 0;
            }
            input[type="text"]:focus, input[type="password"]:focus{
                box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
                background-color:rgba(255,255,255,0.3);
                margin-top: -5px;
                color: #000;
                outline: none;
            }
            .btn-container{
                margin-top: 30px;
                input[type="button"],input[type='submit']{
                    background-color: transparent;
                    border-radius: 4px;
                    height: 55px;
                }
                input[type="button"]:hover,input[type='submit']:hover{
                    cursor: pointer;
                    color: white;
                }
                .in,.up{
                    min-width: 35%;
                }
                .in{
                    margin-right: 15px;
                    border: 3px solid $flat-green;
                    color: $flat-green;
                }
                .up{
                    margin-left: 15px;
                    border: 3px solid $flat-red;
                    color: $flat-red;
                }
                .guest{
                    width: 75%;
                    margin-top: 30px;
                    border: 3px solid #e67e22;
                    color: #e67e22;
                }
                .in:hover{
                    background-color: $flat-green;
                }
                .up:hover{
                    background-color: $flat-red;
                }
                .guest:hover{
                    background-color: #e67e22;
                }
            }
        }

        /*==============================================
                           REGISTER FORM
          ==============================================*/
        .register-form{
            position: relative;
            width: 95%;
            input, select{
                box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
                border: 1px solid darken($custom-white,20%);
                background-color: transparent;
                transition: all ease 0.2s;
                border-radius: 4px;
                padding: 5px 5px;
                color: #fff;
                width: 100%;
                margin: 0 0 20px 0;
                option{
                    color: #000;
                }
            }
            input:focus, select:focus{
                box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
                background-color:rgba(255,255,255,0.3);
                margin-top: -5px;
                color: #000;
                outline: none;
            }
            h5{
                color: $custom-white;
                margin: 0 0 5px 0;  
            }
            .col-span-2{
                width: inherit;
                height: 75px;
            }
            .col-2{
                float: left;
                width: 48%;
            }                
            .col-2:last-child{
                float: right;
            }
            .col-span-3{
                width: inherit;
                height: 78px;
            }
            .col-3{
                float: left;
                width: 28%;
            }
            .col-3:nth-child(2){
                width: 15%;
                margin-left: 14%;
            }
            .col-3:last-child{
                float: right;
            }
            .btn{
                float: right;
            }
            .btn-success{
                margin-left: 10px;
            }
            .reg-nav{
                hr{
                    margin-bottom: 15px;
                }
                .c-nav{
                    width: 100%;
                    position: absolute;
                    top: -23;
                    button{
                        background-color: lighten($custom-white,10%);
                        border: 1px solid #fff;
                        margin: 0 auto;
                        border-radius: 100%;
                        color: $flat-blue;
                        height: 28px;
                        width: 28px;
                    }
                    button.invi{
                        visibility: hidden;
                        margin: 0 51px;
                    }
                    .nav-1{
                        background-color: $flat-green;
                        // border-color: $flat-green;
                        color: #fff;
                    }
                    .nav-2{
                        border-color: #2ecc71;
                        color: $flat-green;
                    }
                }
                h6.invi{
                    visibility: hidden;
                    margin: 0 18px;
                }
                span{
                    text-align: center;
                    h6{
                        color: #fff;
                        text-align: center;
                        display: inline;
                    }
                }
            }
            .person-form{
                margin-top: 20px;
                text-align: left;
            }
            .bill-form{
                @extend .person-form;
            }
            .payment-form{
                @extend .person-form;
                h5.invi{
                    visibility: hidden;
                }
                .save-info{
                    background-color: $flat-green;
                    border: none;
                    box-shadow: none;
                    float: right;
                    width: 140px;
                }
                .save-info:hover{
                    cursor: pointer;
                    background-color: lighten($flat-green,5%);
                }
            }
        }
    }
}


/* ====================================
              ORDER FORM
====================================*/

#food-order{
    box-shadow: 3px 5px 5px rgba(0,0,0,0.6);
    left: 0; right: 0; top: 5%;
    background-color: #fff;
    padding: 30px 0 20px 0;
    font-family: "roboto";
    border-radius: 5px;
    position: fixed;
    min-height: 75%;
    margin: auto;
    width: 50%;
    z-index: 2;
    .frame{
        box-shadow: 0 0 3px rgba(0,0,0,1);
        background-repeat: no-repeat;
        border: 5px solid #fff;
        background-size: cover;
        border-radius: 100%;
        height: 130px;
        margin: auto;
        width: 130px;
    }
    h1,h2,h3{
        text-align: center;
        margin:0;
    }
    h1{
        font-size: 2em;
    }
    .special{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    button{
        color: #fff;
        width: 80px;
        background-color: $flat-green;
        border: none;
    }
    .add-to-cart{
        height: 35px;
        border-radius: 4px;
    }
    textarea{
        margin-bottom: 20px;
    }
    
    .minus,.plus,{
        height: 25px;
        width: 25px;
        border-radius: 100%;
        background-color: $flat-green;
        border: none;
    }
    .minus{
        background-color: $flat-red;
    }
    .minus:hover{
        background-color: lighten($flat-red, 10%);
    }
    button:hover{
        cursor: pointer;
        background-color: lighten($flat-green,10%);
    }
    .container-qty{
        button, h3{
            display: inline;
            margin: 10px;
        }
        h2{ 
            font-size: 1.5em;
            margin: 20px 0;
            color: $flat-red;
        }
        h3{
            font-size: 1.17em;
        }
    }
    .qty-label{
        margin-top: 10px;
    }
    .qty{
        margin-top: 0;
        text-align: center;
    }
    .food-name{
        margin-top: 20px;
        text-align: center;
    }
}


/* ====================================
                HTML
====================================*/
body{
    margin: 0;
    padding: 0;
    font-family: "Minion Pro";
    font-size: 14px;
    color: $dark-gray;
    background-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ====================================
                BODY
             NAVIGATION 
====================================*/

.animate-scroll-bottom{
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    animation: animateBottom 0.5s forwards;
    
}

.animate-scroll-top{
    animation: animateTop 0.5s;
}

header{
    text-transform: uppercase;
    font-family: "Roboto";
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 2;

    .container{
        
        .logo{
            background-image: url('../../img/logo.png');
            background-repeat: no-repeat;
            background-position-y: -19px;
            background-size: cover;
            display: inline-block;
            height: 49px;
            width: 280px;
        }
        h1{
            float: left;
            color: $dark-gray;
            margin-top: 5px;
            span{
                color: darken($custom-white,10%);
            }
        }
        nav{
            float: right;
            height: 30px;
            margin-top: 15px;
            ul{
                text-decoration: none;
                li{
                    position: relative;
                    display: inline-block;
                    text-decoration: none;                    
                    a{
                        text-decoration: none;
                        color: $dark-gray;
                        padding: 10px 15px;
                    }
                    .sign-in{
                        background-color: $flat-blue;
                        border-radius: 4px;
                        color: #fff;
                    }
                    .sign-in:hover{
                        animation: fade-in 0.3s forwards;                      
                        color: #fff;
                    }
                    // ANIMATION COLOR FADE IN IN SIGN IN
                    a:hover{
                        color: $flat-blue;
                    }
                }
            }
        }
    }
}


/* ====================================
             HOME SECTION  
====================================*/
section#home{
    .home-background{
        background-image: url('../../img/01.jpg');
        min-height: 100%;
        opacity: 0.8;
    }
    
    .art-bg{  
        h1{
            font-family: 'Blacksword';
            font-size: 70px;
            color: #fff;
            letter-spacing: 5px;
            text-shadow: 3px 5px 7px rgba(0,0,0,0.8);
        }
        hr{
            width: 65%;
        }
        p{
            font-family: "Minion Pro";
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 10px;
            text-shadow: 2px 2px 1px rgba(255,255,255,1);
        }
    }
}


/* ====================================
             ABOUT SECTION
====================================*/

section#about{
    padding-top: 10%;
    width: 80%;
    img{
        margin-right: 50px;
        height: 650px;
        float: left;
        opacity: 0.8;
    }
    img:hover{
        opacity: 1;
    }
    article.about{
        font-family: "Minion Pro";
        h1{
            text-align: center; 
            font-size: 38px;
            margin-bottom: 20px;
        }
        p{
            font-size: 18px;
            line-height: 1.5em;
        }
    }
}

section#menu{
    clear: both;
}

/* ====================================
             MENU SECTION
====================================*/

section#menu{
    margin-top: 10%;
    position: relative;
    .menu-background{
        background-image: url('../../img/04.jpg');
        height: 80%;
        opacity: 0.9;
    }

    .art-bg{
        h1{
            font-family: "Open Sans";
            font-size: 70px;
            color: $flat-blue;
            // letter-spacing: 5px;
            span{
                color: #fff;
                border-bottom: 7px solid #fff;
            }
        }
    }
}


/* ====================================
         MENU LANG TE SIEMPRE
====================================*/


section.container{
    padding: 10% 0;
    text-align: center;
    font-family: "Minion Pro";
    article.menu{
        h1{
            font-size: 38px;
        }
        p{
            font-size: 22px;
        }
        hr{
            width: 35%;
        }
    }
    .box-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 30px;
        font-family: "Open Sans";
        

        /* ====================================================
             FOOOOOOOOOOD WADAFAK NUMA MAN BUYUNG BUNANI
        ====================================================*/
        .curry{
            background-image: url('../../img/menu/curry.jpg');
            background-position-x: -10px;
        }
        .donburi{
            background-image: url('../../img/menu/donburi.jpg');
            background-position-x: -32px;
        }
        .cakey{
            background-image: url('../../img/menu/japanesecake.jpg');
            background-position-x: -10px;
        }
        .karaage{
            background-image: url('../../img/menu/karaage.jpg');
        }
        .omurice{
            background-image: url('../../img/menu/omurice.jpg');
            background-position-x: -30px;
        }
        .onigiri{
            background-image: url('../../img/menu/onigiri.jpg');
        }
        .ramen{
            background-image: url('../../img/menu/ramen.jpg');
            background-position-x: -15px;
        }
        // .pudding{
        //     background-image: url('../../img/menu/sushi.jpg');
        // }
        .tempura{
            background-image: url('../../img/menu/tempura.jpg');
            background-position-x: -50px;
        }
        .tonkatsu{
            background-image: url('../../img/menu/tonkatsu.jpg');
            background-position-x: -33px;
        }

        // DRINKS

        // .lipton{
        //     background-image: url('../../img/menu/lipton.jpg');
        //     background-position-x: -50px;
        // }
        // .iced{
        //     background-image: url('../../img/menu/iced.jpg');
        //     background-position-x: -33px;
        // }
        /* ====================================================
                         END OF FOODSSSSS
        ====================================================*/

        .box{
            position: relative;
            height: 300px;
            width: 280px;
            margin: 5% 1% 1% 0;
            border: 2px solid #e4e4e4;
            transition: border-color 0.5s ease;
        }

        .frame{
            position: absolute;
            height: 100px;
            width: 100px;
            margin: auto;
            top: 60px;
            right: 0; left: 0;
            border: 5px solid #fff;
            border-radius: 100%;
            box-shadow: 0 0 2px rgba(0,0,0,1);
            transition: top 0.3s ease;
            background-size: cover;
            background-repeat: no-repeat;
        }
        article{
            margin: auto;
            margin-top: 180px;
            width: 95%;
            transition: margin-top 0.3s ease;
            h1{
                font-size: 1.5em;
            }
            p{
                margin-top: 15px;
                display: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.3s ease;
            }
        }
        .button-cart-container{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            width: 90%;
            margin: auto;
            left: 0; bottom: 5; right: 0;
            transition: visibility 0s, opacity 0.3s ease;
            h1{
                font-size: 2em;
                margin-top: 10px;
                float: left;
                color: $flat-red;
            }
            
        }

        button{
            float: right;
            height: 40px;
            width: 80px;
            border: none;
            color: #fff;
            border-radius: 4px;
            background-color: $flat-green;
            transition: background-color 0.3s ease;
        }
        button:hover{
            cursor: pointer;
            background-color: lighten($flat-green, 10%);
        }

        /*============================================== 
                        BOX HOVER
        ==============================================*/
        .box:hover{
            border-color: $flat-blue;
            .frame{
                top: -40px;
            }
            article{
                margin-top: 100px;
                p{
                    display: visible;
                    opacity: 1;
                }
            }
            .button-cart-container{
                visibility: visible;
                opacity: 1;
            }
        }
    }   
}

/* ====================================
            ORDER SECTION 
====================================*/

section#order{
    position: relative;
    .order-background{
        background-image: url('../../img/reservation-seat.jpg');
        height: 80%;
        opacity: 0.75
    }
    article{
        position: absolute;
        margin: auto;
        top: 35%; right: 0; left: 0;
        text-align: center;
        h1{
            font-family: "Open Sans";
            font-size: 70px;
            color: $flat-blue;
            // letter-spacing: 5px;
            span{
                color: #fff;
                border-bottom: 7px solid #fff;
            }
        }
    }
}

/* ====================================
       ORDER LANG TE SIEMPRE LOKO! 
====================================*/

section.order{
    padding-bottom: 30%;
    .order-location{
        float: left;
        width: 50%;
        div#sample{
            text-align: left;
            width: 500px;
            margin-left: 42px;
            margin-bottom: 20px;
            font-family: "Open Sans";            
            h1,p{
                opacity: 0;
                transition: opacity 0.3s ease;
                display: none;
            }
            h1{
                text-transform: uppercase;
                font-size: 24px;
                color: $dark-gray;
            }
        }
        .form-container{
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease;
            width: 100%;
            input{
                padding-left: 15px;
                margin-top: 10px;
                margin-left: 20px;
                height: 50px;
                width: 260px;
            }
        }
        .button-container{
            button{
                height: 55px;
                width: 150px;
                border-radius: 4px;
                text-transform: uppercase;
                background: transparent;
                color: #fff;
            }
            .in,.up{
                margin-right: 20px;
            }
            .in{
                border: 3px solid $flat-blue;
                color: $flat-blue;
            }
            .up{
                border: 3px solid $flat-red;
                color: $flat-red;
            }
            .guest{
                
                margin-top: 30px;
                border: 3px solid #e67e22;
                color: #e67e22;
            }
            button:hover{
                cursor: pointer;
                color: white
            }
            .in:hover{
                background-color: $flat-blue;
            }
            .up:hover{
                background-color: $flat-red;
            }
            .guest:hover{
                background-color: #e67e22;
            }
            
        }
    }
    /* ====================================
                   CART 
    ====================================*/
    
    .cart{
        font-family: "Open Sans";
        font-size: 22px;
        list-style-type: none;
        width: 80%;
        margin: 0 auto;
        color: lighten($dark-gray,20%);
        .row{
            padding-top: 18px;
            height: 70px;
            content: "";
            clear: both;
        }
        .header{
            font-size: 18px;
            padding-bottom: 20px;
            .qty{
                float: left;
                margin-left: 35px;
            }   
            .item{
                float: left;
                margin-left: 50px;
            }
            .price{
                float: right;
                margin-right: 100px;
            }
        }
        .items{
            background-color: #f5f6f9;
            box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
            border-radius: 2px;
            position: relative;
            margin: 10px 0;
            .qty{
                color: darken($flat-blue, 5%);
                margin-left: 45px;
                float: left;
            }
            .item-name{
                float: left;
                margin-left: 60px;
            }
            .action{
                background-image: url('../../img/60995.png');
                position: absolute; top: 0; right: 0;
                background-repeat: no-repeat;
                background-size: 20px 20px;
                background-position-y: 20px;
                background-position-x: 17px;
                background-color: #e6edf3;
                height: inherit;
                width: 55px;
            }
            .price{
                color: $flat-red;
                float: right;
                margin-right: 90px;
            }
            .action-item{
                background-image: url('../../img/actionContainer.png');
                background-repeat: no-repeat;
                background-position-y: -17px;
                background-position-x: 17px;
                background-size: contain;
                padding: 33px 15px 0 0;
                top: 40; right: -55;
                position: absolute;
                height: 100px;
                width: 150px; 
                z-index: 1;
                .glyphicon-remove{
                    color: $flat-red;
                    margin-left: 15px
                }
                .glyphicon-remove:hover{
                    color: darken($flat-red,10%);
                }
            }
        }
        .footer{
            margin: 60px 0;
            .total{
                float: left;
                margin-left: 30px;
            }
            .total-price{
                margin-left: 10px;
                color: $flat-red;
                float: left;
            }
            .order-button{
                background-color: $flat-red;
                text-decoration: none;
                color: $custom-white;
                border-radius: 4px;
                margin-top: -15px;
                padding-top: 17px;
                height: inherit;
                float: right;
                width: 120px;
            }
            .order-button:hover{
                background-color: lighten($flat-red,5%);
            }
        }
        hr{
            margin-top: 60px;
            content: "";
            clear: both;
            width: 95%;
        }
    }
    
}

/* ====================================
        FOOTER SECTION MUDA FUKA
====================================*/

footer{
    clear: both;
    min-height: 15%;
    background-color: $dark-gray;
    color: $custom-white;
    text-align: center;
    padding-top: 3%;
}