/* ====================================
            GLOBAL COLORS
====================================*/
/* ====================================
                FONTS 
====================================*/
@font-face {
  font-family: "Blacksword";
  font-style: normal;
  font-weight: 400;
  src: local("Blacksword"), url("https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/df7684bd/public/fonts/Blacksword.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: "MinionPro";
  font-style: normal;
  font-weight: 400;
  src: local("MinionPro-Regular"), url("https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/MinionPro-Regular.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: "Gobold Reg";
  font-style: normal;
  font-weight: 400;
  src: local("Gobold Regular"), url("https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/Gobold%20Regular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: "Gobold Hol";
  font-style: normal;
  font-weight: 400;
  src: local("Gobold Hollow"), url("https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/Gobold%20Hollow.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* ====================================
              KEYFRAMES
====================================*/
@keyframes in-loc-nav {
  from {
    color: #34495e;
  }
  to {
    color: #00a8ff;
  }
}

@keyframes out-loc-nav {
  from {
    color: #00a8ff;
  }
  to {
    color: #34495e;
  }
}

@keyframes animateBottom {
  from {
    top: -300px;
  }
  to {
    top: 0;
    background-color: #fff;
  }
}

@keyframes fade-in {
  from {
    background-color: #00a8ff;
  }
  to {
    background-color: #33b9ff;
  }
}

@keyframes animateTop {
  from {
    background-color: #fff;
  }
  to {
    background: none;
  }
}

@keyframes come-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ====================================
               GLOBAL 
====================================*/
.container {
  width: 90%;
  margin: auto;
}

.bg, #food-order .frame {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

hr {
  margin: 0 auto;
}

section .art-bg {
  position: absolute;
  top: 45%;
  text-align: center;
  width: 100%;
}

p {
  color: #4f6f8f;
}

.exit {
  background-image: url("../../img/error.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 20;
  right: 20;
  opacity: 0.4;
}

.exit:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* ====================================
            SIGN IN FORM
====================================*/
.s-in {
  display: none;
  font-family: "Open Sans";
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.3);
  opacity: 1;
  height: 800px;
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  width: 40%;
  margin: 3% auto;
}

.s-in .c-in {
  background-image: url("../../img/05.jpg");
  background-size: auto auto;
  background-position-x: 52%;
  border-radius: 5px;
  height: 100%;
  padding: 10% 5%;
  margin: auto;
}

.s-in .c-in span {
  color: red;
}

.s-in .c-in h3 {
  margin-top: 30px;
  color: #ecf0f1;
}

.s-in .c-in input[type="text"] {
  background-color: transparent;
  border: 2px solid #ecf0f1;
  border-radius: 3px;
  text-align: center;
  color: #ecf0f1;
  font-size: 16px;
  margin-top: 10px;
  height: 40px;
  width: 300px;
  padding: 10px;
}

.s-in .c-in .btn-container {
  margin-top: 30px;
}

.s-in .c-in .btn-container input[type="button"], .s-in .c-in .btn-container input[type='submit'] {
  background-color: transparent;
  border-radius: 4px;
  height: 55px;
}

.s-in .c-in .btn-container input[type="button"]:hover, .s-in .c-in .btn-container input[type='submit']:hover {
  cursor: pointer;
  color: white;
}

.s-in .c-in .btn-container .in, .s-in .c-in .btn-container .up {
  margin-right: 20px;
  width: 140px;
}

.s-in .c-in .btn-container .in {
  border: 3px solid #00a8ff;
  color: #00a8ff;
}

.s-in .c-in .btn-container .up {
  border: 3px solid #f06953;
  color: #f06953;
}

.s-in .c-in .btn-container .guest {
  width: 160px;
  margin-top: 30px;
  border: 3px solid #e67e22;
  color: #e67e22;
}

.s-in .c-in .btn-container .in:hover {
  background-color: #00a8ff;
}

.s-in .c-in .btn-container .up:hover {
  background-color: #f06953;
}

.s-in .c-in .btn-container .guest:hover {
  background-color: #e67e22;
}

/* ====================================
              ORDER FORM
====================================*/
#food-order {
  display: none;
  width: 50%;
  background-color: #fff;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.6);
  min-height: 75%;
  margin: auto;
  left: 0;
  right: 0;
  top: 5%;
  position: fixed;
  z-index: 2;
  padding: 30px 0 20px 0;
  border-radius: 5px;
}

#food-order h1, #food-order h2, #food-order h3 {
  font-family: "roboto";
  text-align: center;
  margin: 0;
}

#food-order .special {
  margin-top: 20px;
  margin-bottom: 20px;
}

#food-order button {
  color: #fff;
  background-color: #2ecc71;
  border: none;
}

#food-order .add-to-cart {
  height: 35px;
  border-radius: 4px;
}

#food-order textarea {
  margin-bottom: 20px;
}

#food-order .minus, #food-order .plus {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #2ecc71;
  border: none;
}

#food-order .minus {
  background-color: #f06953;
}

#food-order .minus:hover {
  background-color: #f49282;
}

#food-order button:hover {
  cursor: pointer;
  background-color: #54d98c;
}

#food-order .container-qty button, #food-order .container-qty h3 {
  display: inline;
  margin: 10px;
}

#food-order .qty-label {
  margin-top: 10px;
}

#food-order .qty {
  margin-top: 0;
  text-align: center;
}

#food-order .food-name {
  margin-top: 20px;
  text-align: center;
}

#food-order .frame {
  margin: auto;
  height: 130px;
  width: 130px;
  border: 5px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0 3px black;
}

/* ====================================
                HTML
====================================*/
body {
  margin: 0;
  padding: 0;
  font-family: "Minion Pro";
  font-size: 14px;
  color: #34495e;
  background-color: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ====================================
                BODY
             NAVIGATION 
====================================*/
.animate-scroll-bottom {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  animation: animateBottom 0.5s forwards;
}

.animate-scroll-top {
  animation: animateTop 0.5s;
}

header {
  text-transform: uppercase;
  font-family: "Roboto";
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

header .container h1 {
  float: left;
  color: #34495e;
  margin-top: 5px;
}

header .container h1 span {
  color: #cfd9db;
}

header .container nav {
  float: right;
  margin-top: 15px;
  height: 30px;
}

header .container nav ul {
  text-decoration: none;
}

header .container nav ul li {
  display: inline-block;
  text-decoration: none;
}

header .container nav ul li a {
  text-decoration: none;
  color: #34495e;
  padding: 10px 15px;
}

header .container nav ul li .sign-in {
  background-color: #00a8ff;
  border-radius: 4px;
  color: #fff;
}

header .container nav ul li .sign-in:hover {
  animation: fade-in 0.3s forwards;
  color: #fff;
}

header .container nav ul li a:hover {
  color: #00a8ff;
}

/* ====================================
             HOME SECTION  
====================================*/
section#home .home-background {
  background-image: url("../../img/01.jpg");
  min-height: 100%;
  opacity: 0.8;
}

section#home .art-bg h1 {
  font-family: 'Blacksword';
  font-size: 70px;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 3px 5px 7px rgba(0, 0, 0, 0.8);
}

section#home .art-bg hr {
  width: 65%;
}

section#home .art-bg p {
  font-family: "Minion Pro";
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 2px 1px white;
}

/* ====================================
             ABOUT SECTION
====================================*/
section#about {
  padding-top: 10%;
  width: 80%;
}

section#about img {
  margin-right: 50px;
  height: 650px;
  float: left;
  opacity: 0.8;
}

section#about img:hover {
  opacity: 1;
}

section#about article.about {
  font-family: "Minion Pro";
}

section#about article.about h1 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 20px;
}

section#about article.about p {
  font-size: 18px;
  line-height: 1.5em;
}

section#menu {
  clear: both;
}

/* ====================================
             MENU SECTION
====================================*/
section#menu {
  margin-top: 10%;
  position: relative;
}

section#menu .menu-background {
  background-image: url("../../img/04.jpg");
  height: 80%;
  opacity: 0.9;
}

section#menu .art-bg h1 {
  font-family: "Open Sans";
  font-size: 70px;
  color: #00a8ff;
}

section#menu .art-bg h1 span {
  color: #fff;
  border-bottom: 7px solid #fff;
}

/* ====================================
         MENU LANG TE SIEMPRE
====================================*/
section.container {
  padding: 10% 0;
  text-align: center;
  font-family: "Minion Pro";
}

section.container article.menu h1 {
  font-size: 38px;
}

section.container article.menu p {
  font-size: 22px;
}

section.container article.menu hr {
  width: 35%;
}

section.container .box-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  font-family: "Open Sans";
  /* ====================================================
             FOOOOOOOOOOD WADAFAK NUMA MAN BUYUNG BUNANI
        ====================================================*/
  /* ====================================================
                         END OF FOODSSSSS
        ====================================================*/
  /*============================================== 
                        BOX HOVER
        ==============================================*/
}

section.container .box-container .curry {
  background-image: url("../../img/menu/curry.jpg");
  background-position-x: -10px;
}

section.container .box-container .donburi {
  background-image: url("../../img/menu/donburi.jpg");
  background-position-x: -32px;
}

section.container .box-container .cakey {
  background-image: url("../../img/menu/japanesecake.jpg");
  background-position-x: -10px;
}

section.container .box-container .karaage {
  background-image: url("../../img/menu/karaage.jpg");
}

section.container .box-container .omurice {
  background-image: url("../../img/menu/omurice.jpg");
  background-position-x: -30px;
}

section.container .box-container .onigiri {
  background-image: url("../../img/menu/onigiri.jpg");
}

section.container .box-container .ramen {
  background-image: url("../../img/menu/ramen.jpg");
  background-position-x: -15px;
}

section.container .box-container .tempura {
  background-image: url("../../img/menu/tempura.jpg");
  background-position-x: -50px;
}

section.container .box-container .tonkatsu {
  background-image: url("../../img/menu/tonkatsu.jpg");
  background-position-x: -33px;
}

section.container .box-container .box {
  position: relative;
  height: 300px;
  width: 280px;
  margin: 5% 1% 1% 0;
  border: 2px solid #e9eeef;
  transition: border-color 0.5s ease;
}

section.container .box-container .frame {
  position: absolute;
  height: 100px;
  width: 100px;
  margin: auto;
  top: 60px;
  right: 0;
  left: 0;
  border: 5px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0 2px black;
  transition: top 0.3s ease;
  background-size: cover;
  background-repeat: no-repeat;
}

section.container .box-container article {
  margin: auto;
  margin-top: 180px;
  width: 95%;
  transition: margin-top 0.3s ease;
}

section.container .box-container article p {
  margin-top: 15px;
  display: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

section.container .box-container .button-cart-container {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 90%;
  margin: auto;
  left: 0;
  bottom: 5;
  right: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

section.container .box-container .button-cart-container h1 {
  margin-top: 10px;
  float: left;
  color: #f06953;
}

section.container .box-container button {
  float: right;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #2ecc71;
  transition: background-color 0.3s ease;
}

section.container .box-container button:hover {
  cursor: pointer;
  background-color: #54d98c;
}

section.container .box-container .box:hover {
  border-color: #00a8ff;
}

section.container .box-container .box:hover .frame {
  top: -40px;
}

section.container .box-container .box:hover article {
  margin-top: 100px;
}

section.container .box-container .box:hover article p {
  display: visible;
  opacity: 1;
}

section.container .box-container .box:hover .button-cart-container {
  visibility: visible;
  opacity: 1;
}

/* ====================================
            ORDER SECTION 
====================================*/
section#order {
  position: relative;
}

section#order .order-background {
  background-image: url("../../img/reservation-seat.jpg");
  height: 80%;
  opacity: 0.75;
}

section#order article {
  position: absolute;
  margin: auto;
  top: 35%;
  right: 0;
  left: 0;
  text-align: center;
}

section#order article h1 {
  font-family: "Open Sans";
  font-size: 70px;
  color: #00a8ff;
}

section#order article h1 span {
  color: #fff;
  border-bottom: 7px solid #fff;
}

/* ====================================
       ORDER LANG TE SIEMPRE LOKO! 
====================================*/
section.order {
  padding-bottom: 30%;
  /* ====================================
                   CART 
    ====================================*/
  width: 70%;
  font-family: "Open Sans";
}

section.order .order-location {
  float: left;
  width: 50%;
}

section.order .order-location div#sample {
  text-align: left;
  width: 500px;
  margin-left: 42px;
  margin-bottom: 20px;
  font-family: "Open Sans";
}

section.order .order-location div#sample h1, section.order .order-location div#sample p {
  opacity: 0;
  transition: opacity 0.3s ease;
  display: none;
}

section.order .order-location div#sample h1 {
  text-transform: uppercase;
  font-size: 24px;
  color: #34495e;
}

section.order .order-location .form-container {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 100%;
}

section.order .order-location .form-container input {
  padding-left: 15px;
  margin-top: 10px;
  margin-left: 20px;
  height: 50px;
  width: 260px;
}

section.order .order-location .button-container button {
  height: 55px;
  width: 150px;
  border-radius: 4px;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
}

section.order .order-location .button-container .in, section.order .order-location .button-container .up {
  margin-right: 20px;
}

section.order .order-location .button-container .in {
  border: 3px solid #00a8ff;
  color: #00a8ff;
}

section.order .order-location .button-container .up {
  border: 3px solid #f06953;
  color: #f06953;
}

section.order .order-location .button-container .guest {
  margin-top: 30px;
  border: 3px solid #e67e22;
  color: #e67e22;
}

section.order .order-location .button-container button:hover {
  cursor: pointer;
  color: white;
}

section.order .order-location .button-container .in:hover {
  background-color: #00a8ff;
}

section.order .order-location .button-container .up:hover {
  background-color: #f06953;
}

section.order .order-location .button-container .guest:hover {
  background-color: #e67e22;
}

section.order ul {
  list-style-type: none;
}

/* ====================================
        FOOTER SECTION MUDA FUKA
====================================*/
footer {
  clear: both;
  min-height: 15%;
  background-color: #34495e;
  color: #ecf0f1;
  text-align: center;
  padding-top: 3%;
}
