$primary-color: #fff;

@mixin font-face($font-family,$custom-name, $source, $format){
    @font-face{
        font-family: $custom-name;
        font-style: normal;
        font-weight: 400;
        src:  local($font-family), url($source) format($format);
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }
}
@include font-face('Blacksword','Blacksword', 'https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/df7684bd/public/fonts/Blacksword.otf','opentype');
@include font-face('MinionPro-Regular','MinionPro', 'https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/MinionPro-Regular.otf','opentype');
@include font-face('Gobold Regular','Gobold Reg', 'https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/Gobold%20Regular.ttf','truetype');
@include font-face('Gobold Hollow','Gobold Hol', 'https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/3c218496/public/fonts/Gobold%20Hollow.ttf','truetype');


html, body{
    font-family: 'MinionPro';
    font-size: 16px;
    line-height: 1.6em;
    margin: auto;
    position: relative;
}

header{    
    z-index: 10;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px rgba(0,0,0,0.4);
    height: 60px;
    background-color: #fff;
}

.title{
    display: inline-block;
    margin: 15px 0 0 5%;
    font-family: 'BIG JOHN';
    font-size: 2em;
    color:#e74c3c;
}

nav{
    display: inline-block;
    float: right;
    height: inherit;
    margin: 0 5% 0 0;
}

.nav{
    height: inherit;
    width: 100px;
    background-color: $primary-color;
    font-family: 'Gobold Reg';  
    font-size: 16px;  
    border-style: none;
    border: 0;
    margin: 0;
}

.nav:hover{
    background-color: #2ecc71;
    cursor: pointer;
}


.pimg1, .pimg2, .pimg3{
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    position: relative;
}

.pimg1{
    background-image: url('https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/bdf09439/public/img/01.jpg');
}

.pimg2{
    background-image: url('https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/bdf09439/public/img/02.jpg');
}

.pimg3{
    background-image: url('https://cdn.rawgit.com/nerdcorez/eatadakimasu-cafe/bdf09439/public/img/03.jpg');
}



.mainCapbg{
    background-color: rgba(255,255,255,0.5);    
    width: inherit;
    height: 20%;
    position: relative;
    top: 40%;
}

.main{  
    font-family: 'Blacksword';
    font-size: 5em; 
    color: $primary-color;
    text-shadow: 2px 6px 7px rgba(0,0,0,1);
}

.mainan{
    font-family: 'Gobold Reg';
    font-size: 1.3em;
    letter-spacing: 0.65em;
    color: #000;
    text-align: center;
    text-shadow: 0 0 10px rgba(255,255,255,1);
}

.Cap{
    position: relative;
    float: left;
    margin-top: 4%;
    width: 100%;
    text-align: center;
}

.container-story{
    width: 90%;
    margin: auto;
}

.sub{
    margin-top: 7%;
    font-family: 'Blacksword';
    font-size: 4em;
    color: $primary-color;
    text-shadow: 2px 6px 7px rgba(0,0,0,1);
}

.subnan{
    font-size: 1.3em;
    color: $primary-color;
    margin-top: 8%;
    line-height: 2.5em;
}